<nav class="navbar navbar-expand-lg navbar-light">
  <i class="fas fa-book fa-2xl"></i><%= link_to "Phone Book App", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>